* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #013A43;
}

main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

header img {
    width: 15%;
}

nav {
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: #013A43;
    margin: 0 10px;
    padding: 5px;
    transition: all 0.5s ease;
}

a:hover {
    background-color: #90FD7A;
    border-bottom: 2px solid #013A43;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
}

button {
    width: 20%;
    height: 50px;
    text-align: center;
    background-color: #90FD7A;
    margin: 5px;
    color: #013A43;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: none;
    transition: all 0.5s ease;
    padding: 5px;
    border-radius: 10px;
}

.noDisplay {
    display: none;
}

button:hover {
    background-color: #013A43;
    color: #00B0C8;
}

.width {
    width: 100%;
}

article {
    width: 70vw;
    min-height: 50vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #013A43;
    color: #90FD7A;
    z-index: 9999;

    overflow: hidden;
    text-align: center;
}

article img {
    border-radius: 20px;
    padding: 5px;
}

article h1 {
    text-align: left;
    padding: 5px;
}

ul {
    text-align: left;
    margin: 5px 20px 20px;
    list-style: none;
}

.sublist {
    font-size: 8px;
    margin-left: 50px;
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header img {
        width: 50%;
        margin: auto;
    }

    nav {
        margin: 25px auto;
    }

    button {
        width: 40%;
    }

    section {
        margin-top: 10px;
    }

    .sublist {
        font-size: 10px;
    }

    article img {
        width: 90%;
    }
}